/*사이드바*/
.goto_shop {
    background: url("./images/icon_shop.png");
    background-size: cover;
    /* opacity: 0; */
}

.goto_inventory {
    background: url("./images/icon_inventory.png");
    background-size: cover;
    /* opacity: 0; */
}

.show_money {
    background: url("./images/icon1.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.chicken_area {
    position: relative;
    left: 23px;
    top: 10px;
    width: 90px;
    height : 90px;
    /* border: 1px solid rebeccapurple; */
    background-image: url("./images/money.png");
    background-size: cover;
}

.money_area {
    width: 200px;
    height : 90px;
    position: relative;
    left: 23px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

/* 사이드바 호버 */
.goto_shop:hover{
    background: url("./images/icon_shop_hover.png");
    background-size: 372px;
}

.goto_inventory:hover{
    background: url("./images/icon_inventory_hover.png");
    background-size: 372px;
}



/* .bg_wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    background: url('./images/background_inventory.png');
    background-size: 1080px 720px
} */

/*메인페이지*/
.mainpage {
    height: 550px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}

.img_wrapper {
    height: 550px;
    width: 450px;
    /* border: 1px solid red; */
    /* 중앙정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.img_wrapper img {
    height: 450px;
    width: 450px;
}

.buttons_wrapper {
    height: 275px;
    width: 610px;
    /* border: 1px solid blue; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.sell_button {
    height: 80px;
    width: 250px;
    background-image: url("./images/icon1.png");
    background-size: cover;
    background-color:transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reinforce_button {
    position:relative;
    right: 150px;
    bottom: 110px;
    height: 450px;
    width: 400px;
    background-image: url("./images/icon_reinforce.png");
    background-size: contain;
    background-color:transparent;
    border: none;
}

.reinforce_button:hover {
    background-image: url("./images/icon_reinforce_hover.gif");
    background-size: contain;
}

.explain_text {
    width: 600px;
    height: 255px;
    /* border: 1px solid purple; */
    background-image: url("./images/icon_script.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 게임오버시 팝업창 */
.black_background{
    display: none;
    position: absolute;
    /* top: 0%;
    left: 0%; */
    width: 1080px;
    height: 720px;
    background: #666666 ;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=60);
  }
  
  #light{
    display: none;
    position: absolute;
    padding: 16px;
    width:1080px;
    height: 720px;
    /* border: 16px solid #E3F2FC; */
    background-image: url("./images/destroy-img.png");
    z-index:1002;
    overflow: auto;
  }

  .gameover_page{
    position: absolute;
    width:1048px;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid purple; */
  }

  .destroyed_message {
    font-size: xx-large;
    font-weight: bold;
    color: red;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 20px;
  }